area-ribbon-component{
  i.fa {
    margin-left: 10px;
    margin-right: 10px;
    min-width: 16px;
  }
  md-select.dropdown{
    display: inline-block;
  }
  .metric-value{
    margin-left: 15px;
    margin-right: 5px;
  }
}
