ribbon-bar-component{
  .block-wrapper {

    position: fixed;
    z-index: 29;
    width: 100%;

    background-color: #fff;
  }
  .row {
    width: 100%;
    margin: 0 auto;
  }
  .block {
    min-width: 250px;
    display: inline-block;
    border-right: 2px solid lightgrey;
    height: 100%;
  }
}
